<div class="display-wraper">
  <div class="display-wraper__time">
    <span *ngFor="let message of messages">{{ message }}</span>
  </div>
  <div class="display-wraper__statred">
    <span class="display-wraper__statred--value">{{ start }}</span>
    <span class="display-wraper__statred--text">Started</span>
  </div>
  <div class="display-wraper__paused">
    <span class="display-wraper__paused--value">{{ stop }}</span>
    <span class="display-wraper__paused--text">Paused</span>
  </div>
</div>
